* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
